llama-index>=0.14.10
llama-index-llms-openai
llama-index-llms-openai-like>=0.5.3
llama-index-llms-gemini
llama-index-llms-openrouter
llama-index-llms-ollama
beautifulsoup4
markdownify>=1.2.2
olefile
pandas
pyhwp>=0.1b15
python-dotenv>=1.2.1
questionary>=2.1.1
rich>=14.2.0
chromadb>=1.4.0
openai>=2.11.0
gradio>=6.2.0
